#reg
{
    /*align-content: justify;
    text-align: justify;*/
    line-height: 40px;
}
#start{
    color:white;
    background-color:green;
    size: 30px;
    text-align: center;
}
#marq{
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:red;
}
#w{
    margin-left: 5000px;
}